[Desktop Entry]
Version=1.0
Name=gCountDown
GenericName=Timer applet
Comment=Countdown timer with notification and sound alert
Exec=/usr/share/gcountdown/gcountdown
Terminal=false
Icon=/usr/share/gcountdown/idle.png
Categories=Utility;Clock;
StartupNotify=false
