[Desktop Entry]
Version=1.0
Name=gCountDown
GenericName=Timer applet
Comment=Countdown timer with notification and sound alert
Exec=/home/todsah/Development/gcountdown/src/gcountdown
Terminal=false
Icon=/home/todsah/Development/gcountdown/src/idle.png
Categories=Utility;Clock;
StartupNotify=false
